@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-image: url("../img/bank.jpg");
  color: #b59647;
  font-family: "Roboto", sans-serif;
}

/*Centering the center tag vertically*/
center {
  margin-top: 15%;
}

/*Button styling*/
input[type="submit"] {
  margin: 1rem 0;
  background-color: #b59647;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
